/*	DINNextCYR regular */

@font-face {
    font-family: DINNextCYR;
    src: url('/fonts/DINNextCYR-Regular/DINNextCYR-Regular.eot?') format('eot'),
    url('/fonts/DINNextCYR-Regular/DINNextCYR-Regular.eot?#iefix') format("embedded-opentype"),
    url('/fonts/DINNextCYR-Regular/DINNextCYR-Regular.otf') format('opentype'),
    url('/fonts/DINNextCYR-Regular/DINNextCYR-Regular.woff') format('woff'),
    url('/fonts/DINNextCYR-Regular/DINNextCYR-Regular.ttf') format('truetype'),
    url('/fonts/DINNextCYR-Regular/DINNextCYR-Regular.svg#DINNextCYR-Regular') format('svg');
    font-weight: 400;
}

ul, ol {
    padding: 0;
    margin: 0;
}

* {
    outline: 0 !important;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, p, .h1, .h2, .h3, .h4 {
    line-height: normal;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
}

body {
    line-height: normal;
    color: #000;
    height: 100%;
    background-color: #fff;
    font-family: DINNextCYR;
    font-weight: 400;
}

.container {
    width: 1200px;
    max-width: 1200px;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}