@import url(bootstrap.min.css);
@import url(reset_fonts.css);
a,
input[type='submit'] {
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer !important; }

.main-btn {
  background-color: #63d2df;
  color: #0326b1;
  padding: 7px 15px 5px;
  font-size: 16px;
  text-transform: uppercase; }
  .main-btn:hover {
    background-color: #0326b1;
    color: #ffffff; }

.main-title {
  font-size: 75px;
  color: #ffffff;
  line-height: 72px; }

.title {
  font-size: 70px;
  color: #00c4de;
  line-height: 72px;
  text-transform: uppercase;
  padding: 20px 0; }

nav {
  display: flex;
  align-items: center; }
  nav a {
    font-size: 18px;
    color: #ffffff;
    position: relative;
    padding: 5px 0;
    margin: 0 20px; }
    nav a:after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      height: 2px;
      width: 0;
      background-color: #ffffff;
      -webkit-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -ms-transition: 0.5s all;
      -o-transition: 0.5s all;
      transition: 0.5s all; }
    nav a:hover, nav a:active {
      color: #ffffff; }
    nav a:hover::after, nav a.active:after {
      width: 100%; }

header {
  background: url("/images/fon_top_page.png");
  padding: 30px 0 10px; }
  header.index-header {
    padding: 30px 0; }
  header .header-top-menu {
    padding: 30px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  header .header-btns {
    margin-left: 20px; }
    header .header-btns .main-btn:first-child {
      margin-right: 15px; }
  header .index-top-text {
    padding: 130px 0 100px; }
  header .index-top-img {
    position: relative;
    margin: 55px 35px; }
    header .index-top-img img {
      position: absolute;
      width: 440px;
      height: 650px; }
      header .index-top-img img#ipad-screen {
        left: 45px;
        top: 85px;
        width: 350px;
        height: 0; }

.how-it-working {
  padding: 85px 0 30px; }
  .how-it-working .how-working-item {
    padding: 50px 0; }
    .how-it-working .how-working-item .how-working-item__name {
      background: url("/images/figure.png");
      position: relative;
      height: 445px; }
      .how-it-working .how-working-item .how-working-item__name b {
        font-size: 80px;
        color: #ffffff;
        position: absolute;
        top: 30px;
        left: 65px;
        font-weight: 400; }
      .how-it-working .how-working-item .how-working-item__name span {
        font-size: 40px;
        color: #ffffff;
        line-height: 72px;
        padding: 20px 0;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        top: 145px;
        display: block; }
    .how-it-working .how-working-item .how-working-item__text p {
      font-size: 24px;
      line-height: 24px;
      color: #00c4de;
      padding: 20px 0 0; }
  .how-it-working .how-it-working__reg {
    text-align: center;
    margin: 15px 0 20px; }
    .how-it-working .how-it-working__reg a.main-btn {
      font-size: 30px;
      padding: 15px 40px 11px; }
  .how-it-working .how-it-working__img {
    margin: 50px 0 0;
    text-align: center; }

.plans {
  background: url("/images/plan_fon.png");
  padding: 10px 0;
  height: 800px; }
  .plans p.title {
    color: #ffffff;
    padding-bottom: 35px; }
  .plans .plans__plan-items {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 1170px; }
    .plans .plans__plan-items .plans__plan-item {
      background: url("/images/plan-item-bg.png") no-repeat;
      text-align: center;
      padding: 115px 0 135px;
      width: 360px; }
      .plans .plans__plan-items .plans__plan-item.different-plan {
        margin-top: -130px; }
      .plans .plans__plan-items .plans__plan-item p.name {
        font-size: 60px;
        color: #0326b1;
        text-transform: uppercase;
        font-weight: 700;
        padding-bottom: 13px; }
      .plans .plans__plan-items .plans__plan-item .plans__plan-item_text-block {
        padding: 30px 0 0; }
        .plans .plans__plan-items .plans__plan-item .plans__plan-item_text-block span {
          font-size: 36px;
          line-height: 50px;
          color: #0326b1;
          display: block; }
          .plans .plans__plan-items .plans__plan-item .plans__plan-item_text-block span svg.currency {
            width: 16px;
            height: 27px;
            fill: #0326b1; }
      .plans .plans__plan-items .plans__plan-item a.main-btn {
        font-size: 30px;
        padding: 16px 30px 10px;
        margin-top: 45px;
        display: inline-block; }

.index-ref {
  background: url("/images/ref_bg.png") no-repeat center top;
  text-align: center;
  padding: 155px 0 70px; }
  .index-ref p.title {
    padding: 0 160px; }
  .index-ref .index-ref__percents {
    background: url("/images/ref-figures.png") center no-repeat;
    height: 330px;
    position: relative;
    margin: 45px auto 0;
    width: 850px; }
    .index-ref .index-ref__percents .percent {
      font-size: 100px;
      color: #ffffff;
      position: absolute;
      top: 80px; }
      .index-ref .index-ref__percents .percent.first {
        left: 90px;
        top: 145px; }
      .index-ref .index-ref__percents .percent.second {
        font-size: 150px;
        color: #2977ea;
        left: 0;
        right: 0; }
      .index-ref .index-ref__percents .percent.third {
        right: 90px;
        top: 145px; }

footer {
  background-color: #0326b1;
  padding: 25px 0; }
  footer a.logo {
    display: block; }
    footer a.logo img {
      width: 90%;
      -o-object-fit: cover;
      object-fit: cover; }
  footer .footer__social {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    footer .footer__social a {
      display: inline-flex;
      margin-right: 9px; }
      footer .footer__social a:last-child {
        margin-right: 0; }
      footer .footer__social a svg {
        width: 25px;
        height: 25px;
        fill: #ffffff;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -ms-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
        opacity: 0.7; }
      footer .footer__social a:hover svg {
        opacity: 1; }
  footer .footer__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    footer .footer__menu nav a {
      font-size: 22px;
      margin: 0 50px 0 0; }
      footer .footer__menu nav a:last-child {
        margin-right: 0; }
    footer .footer__menu .footer__btns {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 37px; }
      footer .footer__menu .footer__btns a.main-btn {
        display: inline-flex;
        padding: 12px 25px 8px;
        font-size: 18px; }
        footer .footer__menu .footer__btns a.main-btn:first-child {
          margin-right: 15px; }
        footer .footer__menu .footer__btns a.main-btn:hover {
          background-color: #ffffff;
          color: #0326b1; }
  footer .footer__ps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    footer .footer__ps a {
      margin-right: 10px;
      margin-bottom: 10px; }
      footer .footer__ps a svg {
        width: 35px;
        height: 35px;
        fill: #ffffff;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -ms-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
        opacity: 0.7; }
      footer .footer__ps a:hover svg {
        opacity: 1; }
      footer .footer__ps a:nth-child(6n) {
        margin-right: 0; }
  footer p.copyright {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px; }

.advantages {
  padding: 20px 0 100px;
  text-align: center; }
  .advantages .advantages__items {
    display: flex;
    justify-content: space-between;
    margin: 80px 0 45px; }
    .advantages .advantages__items .advantages__item {
      background: url("/images/advantages-item-bg.png") no-repeat center;
      width: 260px;
      height: 330px; }
      .advantages .advantages__items .advantages__item svg {
        width: 80px;
        height: 80px;
        fill: #ffffff;
        margin: 30px auto; }
      .advantages .advantages__items .advantages__item p {
        font-size: 24px;
        line-height: 30px;
        color: #ffffff;
        text-transform: uppercase;
        padding: 35px 40px; }
        .advantages .advantages__items .advantages__item p svg.currency {
          width: 12px;
          height: 19px;
          fill: #ffffff;
          margin: 0; }
  .advantages a.main-btn {
    font-size: 30px;
    padding: 15px 80px 9px;
    display: inline-flex; }

.what-is {
  background: #2977ea url("/images/fon_about_info.png") no-repeat left top;
  padding: 25px 0; }
  .what-is p.title {
    width: 470px;
    color: #ffffff; }
  .what-is .what-is__items {
    display: flex;
    flex-direction: column; }
    .what-is .what-is__items .what-is__item {
      display: flex;
      justify-content: space-between;
      margin: 10px 0 55px; }
      .what-is .what-is__items .what-is__item img {
        width: 270px;
        height: 235px;
        margin-right: 35px; }
      .what-is .what-is__items .what-is__item .what-is__item_text {
        display: flex;
        flex-direction: column; }
        .what-is .what-is__items .what-is__item .what-is__item_text span.name {
          font-size: 40px;
          color: #ffffff;
          text-transform: uppercase;
          padding-bottom: 5px; }
        .what-is .what-is__items .what-is__item .what-is__item_text p {
          font-size: 24px;
          line-height: 24px;
          color: #ffffff; }

.statistics {
  min-height: 1230px;
  background: url("/images/stat-bg.png") no-repeat 92px 150px;
  padding: 25px 0; }
  .statistics .statistics-block .statistics-block__upper {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 50px; }
    .statistics .statistics-block .statistics-block__upper .stat-item {
      padding: 30px 55px;
      text-align: center; }
      .statistics .statistics-block .statistics-block__upper .stat-item p {
        font-size: 24px;
        line-height: 30px;
        color: #ffffff;
        text-transform: uppercase;
        padding-bottom: 15px; }
      .statistics .statistics-block .statistics-block__upper .stat-item span {
        font-size: 30px;
        color: #ffffff;
        font-weight: 700; }
        .statistics .statistics-block .statistics-block__upper .stat-item span svg.currency {
          width: 15px;
          height: 23px;
          fill: #ffffff; }
  .statistics .statistics-block .statistics-block__lower {
    display: flex;
    justify-content: space-between; }
    .statistics .statistics-block .statistics-block__lower .stat-table {
      width: 370px;
      padding: 0 30px; }
      .statistics .statistics-block .statistics-block__lower .stat-table table {
        width: 100%; }
        .statistics .statistics-block .statistics-block__lower .stat-table table th {
          font-size: 24px;
          line-height: 30px;
          color: #ffffff;
          text-transform: uppercase;
          text-align: center;
          padding-bottom: 18px; }
        .statistics .statistics-block .statistics-block__lower .stat-table table td {
          font-size: 24px;
          line-height: 30px;
          color: #ffffff;
          padding: 14px 0; }
          .statistics .statistics-block .statistics-block__lower .stat-table table td:nth-child(2) {
            text-align: right; }
          .statistics .statistics-block .statistics-block__lower .stat-table table td svg.currency {
            width: 12px;
            height: 18px;
            fill: #ffffff; }

.rules.text {
  padding: 40px 0 80px; }
  .rules.text p.tac {
    text-align: center;
    padding: 20px 250px 35px; }
  .rules.text ul {
    padding-left: 50px; }
  .rules.text p,
  .rules.text ul li {
    font-size: 30px;
    line-height: 36px;
    color: #2977ea;
    padding: 10px 0; }
  .rules.text p.section-title {
    background: url("/images/section-title-bg.png") no-repeat;
    padding: 10px 50px;
    color: #ffffff;
    margin: 30px 0; }

.map iframe {
  width: 100%;
  height: 845px; }

.support {
  padding: 35px 0 0; }
  .support p.title {
    padding-top: 0; }
  .support .support-text-block p {
    font-size: 24px;
    line-height: 24px;
    color: #00c4de;
    padding: 14px 0; }
    .support .support-text-block p b {
      font-weight: 700;
      line-height: 24px; }
    .support .support-text-block p i {
      font-style: normal;
      margin-left: 55px;
      display: block;
      line-height: 24px; }
  .support .support-text-block .social {
    display: flex;
    align-items: center;
    margin-top: 20px; }
    .support .support-text-block .social a {
      display: inline-flex;
      margin-right: 9px; }
      .support .support-text-block .social a:last-child {
        margin-right: 0; }
      .support .support-text-block .social a svg {
        width: 25px;
        height: 25px;
        fill: #09bce3;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -ms-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
        opacity: 0.7; }
      .support .support-text-block .social a:hover svg {
        opacity: 1; }
  .support .certificate-block {
    text-align: center; }
    .support .certificate-block .img-block {
      border: 3px solid #73dfed;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      margin-bottom: 45px;
      display: block;
      margin-bottom: 62px; }
      .support .certificate-block .img-block img {
        max-width: 100%; }
    .support .certificate-block a.main-btn {
      font-size: 30px;
      padding: 16px 60px 11px;
      display: inline-flex; }

.write {
  padding: 0 0 75px; }
  .write p.title {
    padding: 0; }
  .write form.support {
    padding: 25px 30px;
    text-align: center; }
    .write form.support .input_block {
      display: flex;
      flex-direction: column;
      padding-bottom: 25px; }
      .write form.support .input_block label {
        font-size: 24px;
        color: #2977ea;
        padding-bottom: 5px;
        margin: 0;
        text-align: left; }
      .write form.support .input_block input,
      .write form.support .input_block textarea {
        border: 2px solid #63d2df;
        background-color: #ccf7fb;
        font-size: 24px;
        color: #2977ea;
        padding: 20px; }
      .write form.support .input_block textarea {
        height: 160px; }
    .write form.support input[type='submit'] {
      border: 0;
      display: inline-flex;
      font-size: 30px;
      margin-top: 25px;
      padding: 18px 75px 10px; }

.login-body {
  background: url("/images/login_fon.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }
  .login-body header.login {
    background-color: rgba(41, 119, 234, 0.9);
    background-image: none;
    padding: 20px 0; }
  .login-body .login-block .login-block__form {
    background-color: #2977ea;
    padding: 30px 135px 50px;
    text-align: center;
    position: relative;
    z-index: 5;
    margin: 100px 0 60px; }
    .login-body .login-block .login-block__form:after {
      position: absolute;
      content: "";
      width: 101%;
      height: 100%;
      left: 30px;
      top: -30px;
      background-color: rgba(41, 119, 234, 0.9);
      z-index: -1; }
    .login-body .login-block .login-block__form p.login-title {
      font-size: 60px;
      color: #ffffff; }
    .login-body .login-block .login-block__form .input_block {
      display: flex;
      flex-direction: column;
      padding: 27px 0 5px; }
      .login-body .login-block .login-block__form .input_block label {
        font-size: 24px;
        color: #ffffff;
        padding-bottom: 5px;
        margin: 0;
        text-align: left; }
      .login-body .login-block .login-block__form .input_block input,
      .login-body .login-block .login-block__form .input_block textarea {
        border: 2px solid #63d2df;
        background-color: #ccf7fb;
        font-size: 24px;
        color: #2977ea;
        padding: 20px; }
      .login-body .login-block .login-block__form .input_block textarea {
        height: 160px; }
    .login-body .login-block .login-block__form .check_block {
      display: inline-flex;
      align-items: center;
      margin: 40px 0 0; }
      .login-body .login-block .login-block__form .check_block input[type='checkbox'] {
        margin: 0 7px 0 0;
        width: 20px;
        height: 20px; }
      .login-body .login-block .login-block__form .check_block span {
        font-size: 24px;
        color: #ffffff;
        margin-right: 7px; }
      .login-body .login-block .login-block__form .check_block a {
        font-size: 24px;
        color: #68e8f3; }
        .login-body .login-block .login-block__form .check_block a:hover {
          color: #ffffff; }
    .login-body .login-block .login-block__form input[type='submit'] {
      border: 0;
      display: inline-flex;
      font-size: 30px;
      margin-top: 42px;
      padding: 18px 75px 10px; }
      .login-body .login-block .login-block__form input[type='submit']:hover {
        background-color: #ffffff;
        color: #0326b1; }
    .login-body .login-block .login-block__form .login-links {
      margin: 15px 0 0; }
      .login-body .login-block .login-block__form .login-links a {
        color: #ffffff;
        font-size: 24px;
        display: inline-block;
        opacity: 0.7;
        margin: 11px 0; }
        .login-body .login-block .login-block__form .login-links a:hover {
          opacity: 1; }
        .login-body .login-block .login-block__form .login-links a:last-child {
          margin-bottom: 0; }

.user {
  padding: 0; }
  .user .layout-wrapper {
    position: relative; }
    .user .layout-wrapper:after {
      position: absolute;
      content: "";
      width: 101%;
      height: 100%;
      left: 20px;
      top: -37px;
      background-color: rgba(41, 119, 234, 0.9);
      z-index: 0; }
    .user .layout-wrapper .user-menu {
      background-color: #ffffff;
      position: relative;
      z-index: 5;
      margin: 65px 0 60px; }
      .user .layout-wrapper .user-menu .user-img-border {
        background: url("/images/user-img-border.png") no-repeat center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 36px 0 30px; }
        .user .layout-wrapper .user-menu .user-img-border svg {
          width: 80px;
          height: 80px;
          margin-top: 5px; }
        .user .layout-wrapper .user-menu .user-img-border p.username {
          font-size: 24px;
          font-weight: 400;
          color: #0326b1;
          padding-top: 6px; }
      .user .layout-wrapper .user-menu .user-data {
        margin-top: -17px; }
        .user .layout-wrapper .user-menu .user-data p {
          background-color: #18f5d3;
          padding: 13px 18px 8px 18px;
          font-size: 20px;
          font-weight: 400;
          color: #0326b1;
          margin: 7px 0 14px; }
          .user .layout-wrapper .user-menu .user-data p svg {
            width: 8px;
            height: 15px;
            fill: #0326b1; }
      .user .layout-wrapper .user-menu nav {
        flex-direction: column;
        align-items: flex-start;
        margin: 29px 0;
        padding-bottom: 45px; }
        .user .layout-wrapper .user-menu nav a {
          background-color: #18f5d3;
          position: relative;
          font-size: 24px;
          font-weight: 400;
          color: #0326b1;
          margin: 10px 0 7px;
          text-transform: uppercase;
          min-width: 195px;
          padding: 10px 20px 5px; }
          .user .layout-wrapper .user-menu nav a:after {
            position: absolute;
            content: "";
            top: 0;
            left: 100%;
            border: 22px solid transparent;
            border-left: 20px solid #18f5d3;
            width: 20px;
            -webkit-transition: 0.3s all;
            -moz-transition: 0.3s all;
            -ms-transition: 0.3s all;
            -o-transition: 0.3s all;
            transition: 0.3s all; }
          .user .layout-wrapper .user-menu nav a:hover, .user .layout-wrapper .user-menu nav a.active {
            background-color: #0326b1;
            color: #ffffff;
            min-width: 220px;
            padding-left: 37px; }
          .user .layout-wrapper .user-menu nav a:hover::after, .user .layout-wrapper .user-menu nav a.active:after {
            border: 22px solid transparent;
            border-left: 20px solid #0326b1; }

.internal {
  background-color: #2977ea;
  margin: 65px 0 60px;
  padding: 16px 32px 50px;
  position: relative;
  z-index: 1; }
  .internal p.page-title {
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    display: inline-flex; }
    .internal p.page-title:after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #1de6da; }
  .internal .user-stat__items {
    display: flex;
    justify-content: space-between;
    margin: 22px 0 40px; }
    .internal .user-stat__items .user-stat__item {
      background-color: rgba(24, 245, 211, 0.3);
      width: 210px;
      height: 190px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0; }
      .internal .user-stat__items .user-stat__item svg {
        width: 105px;
        margin-bottom: 15px; }
      .internal .user-stat__items .user-stat__item p.price {
        font-size: 28px;
        color: #ffffff;
        font-weight: 700; }
        .internal .user-stat__items .user-stat__item p.price svg.currency {
          width: 12px;
          height: 21px;
          fill: #ffffff;
          margin: 0; }
      .internal .user-stat__items .user-stat__item span {
        font-size: 20px;
        color: #ffffff;
        text-transform: uppercase; }
  .internal .user-ref {
    display: flex;
    flex-direction: column;
    margin: 20px 0; }
    .internal .user-ref p {
      display: flex;
      align-items: center;
      margin: 9px 0 9px 5px; }
      .internal .user-ref p svg {
        width: 50px;
        height: 50px;
        margin-right: 20px; }
      .internal .user-ref p span {
        font-size: 20px;
        color: #ffffff;
        text-transform: uppercase;
        display: inline-flex;
        align-items: center; }
        .internal .user-ref p span b {
          font-weight: 700;
          margin-left: 5px; }
        .internal .user-ref p span svg.currency {
          width: 11px;
          height: 15px;
          fill: #ffffff;
          margin: 0; }
        .internal .user-ref p span input {
          background-color: rgba(24, 245, 211, 0.3);
          font-size: 20px;
          color: #ffffff;
          text-transform: uppercase;
          border: 0;
          margin-left: 15px;
          padding: 8px 40px 4px; }
  .internal .plan-items {
    display: flex;
    justify-content: space-between;
    padding: 40px 50px 15px; }
    .internal .plan-items .plan-item {
      background: url("/images/plan-item-bg.png") no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      text-align: center;
      padding: 65px 0 105px;
      width: 210px; }
      .internal .plan-items .plan-item.active a.main-btn {
        background-color: #0326b1;
        color: #ffffff !important; }
      .internal .plan-items .plan-item p.name {
        font-size: 36px;
        color: #0326b1;
        text-transform: uppercase;
        font-weight: 700;
        padding-bottom: 13px; }
      .internal .plan-items .plan-item .plan-item_text-block {
        padding: 12px 0 3px; }
        .internal .plan-items .plan-item .plan-item_text-block span {
          font-size: 22px;
          line-height: 30px;
          color: #0326b1;
          display: block; }
          .internal .plan-items .plan-item .plan-item_text-block span svg.currency {
            width: 9px;
            height: 16px;
            fill: #0326b1; }
      .internal .plan-items .plan-item a.main-btn {
        font-size: 18px;
        padding: 12px 10px 6px;
        margin-top: 10px;
        display: inline-block; }
  .internal .user-ps {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 30px; }
    .internal .user-ps svg {
      width: 50px;
      height: 50px;
      fill: #ffffff;
      -webkit-transition: 0.3s all;
      -moz-transition: 0.3s all;
      -ms-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all;
      margin-right: 15px; }
      .internal .user-ps svg:last-child {
        margin-right: 0; }
      .internal .user-ps svg:hover, .internal .user-ps svg.active {
        fill: #18f5d3; }
  .internal .invest-block {
    display: flex;
    align-items: center;
    padding: 25px 0; }
    .internal .invest-block .custom-input {
      background-color: rgba(24, 245, 211, 0.3);
      font-size: 28px;
      color: #ffffff;
      padding: 6px 25px 2px;
      width: 310px;
      border: 0;
      text-align: center; }
    .internal .invest-block input[type='submit'] {
      font-size: 19px;
      color: #0326b1;
      text-transform: uppercase;
      padding: 10px 25px 8px;
      border: 0;
      margin-left: 30px; }
      .internal .invest-block input[type='submit']:hover {
        background-color: #ffffff;
        color: #0326b1; }
  .internal .user-table {
    margin: 20px 0; }
    .internal .user-table table {
      width: 100%;
      text-align: center; }
      .internal .user-table table tr {
        border: 2px solid #18f5d3; }
      .internal .user-table table th,
      .internal .user-table table td.wide-td {
        color: #ffffff;
        font-size: 20px;
        background-color: #249de3;
        text-align: center;
        font-weight: 400;
        padding: 10px 0; }
        .internal .user-table table th svg.currency,
        .internal .user-table table td.wide-td svg.currency {
          width: 15px;
          height: 15px;
          fill: #ffffff; }
      .internal .user-table table td {
        color: #ffffff;
        font-size: 20px;
        text-align: center;
        font-weight: 400;
        padding: 10px 0 0; }
        .internal .user-table table td svg {
          height: 35px;
          width: 100px;
          fill: #ffffff; }
  .internal .banners {
    margin: 20px 0; }
    .internal .banners label {
      font-size: 28px;
      color: #ffffff;
      margin: 0;
      font-weight: 400;
      display: block; }
    .internal .banners textarea {
      background-color: rgba(24, 245, 211, 0.3);
      font-size: 20px;
      color: #ffffff;
      border: 2px solid #18f5d3;
      padding: 15px 20px;
      width: 100%; }
  .internal .settings {
    display: flex;
    justify-content: space-between; }
    .internal .settings form {
      display: flex;
      flex-direction: column;
      width: 48%; }
      .internal .settings form p.page-title {
        margin-bottom: 8px;
        align-self: flex-start; }
      .internal .settings form .input-block {
        display: flex;
        flex-direction: column;
        padding: 8px 0 0; }
        .internal .settings form .input-block label {
          margin: 0; }
          .internal .settings form .input-block label svg {
            width: 100px;
            height: 30px;
            fill: #ffffff; }
          .internal .settings form .input-block label span {
            font-size: 20px;
            color: #ffffff;
            font-weight: 400;
            padding: 7px 0 4px;
            display: block; }
        .internal .settings form .input-block input {
          background-color: rgba(24, 245, 211, 0.3);
          font-size: 18px;
          color: #ffffff;
          border: 2px solid #18f5d3;
          padding: 6px 10px;
          width: 100%; }
      .internal .settings form .main-btn {
        margin-top: 30px;
        border: 0;
        align-self: flex-start;
        padding: 13px 51px 7px; }
        .internal .settings form .main-btn:hover {
          background-color: #ffffff;
          color: #0326b1; }

/*# sourceMappingURL=style.css.map */
