@import "bootstrap.min.css"
@import "reset_fonts.css"

a,
input[type='submit']
    -webkit-transition: 0.3s all
    -moz-transition: 0.3s all
    -ms-transition: 0.3s all
    -o-transition: 0.3s all
    transition: 0.3s all
    cursor: pointer !important

.main-btn
    background-color: #63d2df
    color: #0326b1
    padding: 7px 15px 5px
    font-size: 16px
    text-transform: uppercase
    &:hover
        background-color: #0326b1
        color: #ffffff

.main-title
    font-size: 75px
    color: #ffffff
    line-height: 72px

.title
    font-size: 70px
    color: #00c4de
    line-height: 72px
    text-transform: uppercase
    padding: 20px 0

nav
    display: flex
    align-items: center
    a
        font-size: 18px
        color: #ffffff
        position: relative
        padding: 5px 0
        margin: 0 20px
        &:after
            position: absolute
            content: ''
            left: 0
            bottom: 0
            height: 2px
            width: 0
            background-color: #ffffff
            -webkit-transition: 0.5s all
            -moz-transition: 0.5s all
            -ms-transition: 0.5s all
            -o-transition: 0.5s all
            transition: 0.5s all
        &:hover,
        &:active
            color: #ffffff
        &:hover::after,
        &.active:after
            width: 100%

header
    background: url('/images/fon_top_page.png')
    padding: 30px 0 10px
    &.index-header
        padding: 30px 0
    .header-top-menu
        padding: 30px 0
        display: flex
        justify-content: flex-end
        align-items: center
    .header-btns
        margin-left: 20px
        .main-btn
            &:first-child
                margin-right: 15px
    .index-top-text
        padding: 130px 0 100px
    .index-top-img
        position: relative
        margin: 55px 35px
        img
            position: absolute
            width: 440px
            height: 650px
            &#ipad-screen
                left: 45px
                top: 85px
                width: 350px
                height: 0

.how-it-working
    padding: 85px 0 30px
    .how-working-item
        padding: 50px 0
        .how-working-item__name
            background: url('/images/figure.png')
            position: relative
            height: 445px
            b
                font-size: 80px
                color: #ffffff
                position: absolute
                top: 30px
                left: 65px
                font-weight: 400
            span
                font-size: 40px
                color: #ffffff
                line-height: 72px
                padding: 20px 0
                text-align: center
                text-transform: uppercase
                position: relative
                top: 145px
                display: block
        .how-working-item__text
            p
                font-size: 24px
                line-height: 24px
                color: #00c4de
                padding: 20px 0 0
    .how-it-working__reg
        text-align: center
        margin: 15px 0 20px
        a.main-btn
            font-size: 30px
            padding: 15px 40px 11px
    .how-it-working__img
        margin: 50px 0 0
        text-align: center

.plans
    background: url('/images/plan_fon.png')
    padding: 10px 0
    height: 800px
    p.title
        color: #ffffff
        padding-bottom: 35px
    .plans__plan-items
        display: flex
        justify-content: space-between
        position: absolute
        width: 1170px
        .plans__plan-item
            background: url('/images/plan-item-bg.png') no-repeat
            text-align: center
            padding: 115px 0 135px
            width: 360px
            &.different-plan
                margin-top: -130px
            p.name
                font-size: 60px
                color: #0326b1
                text-transform: uppercase
                font-weight: 700
                padding-bottom: 13px
            .plans__plan-item_text-block
                padding: 30px 0 0
                span
                    font-size: 36px
                    line-height: 50px
                    color: #0326b1
                    display: block
                    svg.currency
                        width: 16px
                        height: 27px
                        fill: #0326b1
            a.main-btn
                font-size: 30px
                padding: 16px 30px 10px
                margin-top: 45px
                display: inline-block
                
.index-ref
    background: url('/images/ref_bg.png') no-repeat center top
    text-align: center
    padding: 155px 0 70px
    p.title
        padding: 0 160px
    .index-ref__percents
        background: url('/images/ref-figures.png') center no-repeat
        height: 330px
        position: relative
        margin: 45px auto 0
        width: 850px
        .percent
            font-size: 100px
            color: #ffffff
            position: absolute
            top: 80px
            &.first
                left: 90px
                top: 145px
            &.second
                font-size: 150px
                color: #2977ea
                left: 0
                right: 0
            &.third
                right: 90px
                top: 145px

footer
    background-color: #0326b1
    padding: 25px 0
    a.logo
        display: block
        img
            width: 90%
            -o-object-fit: cover
            object-fit: cover
    .footer__social
        display: flex
        justify-content: flex-end
        align-items: center
        a
            display: inline-flex
            margin-right: 9px
            &:last-child
                margin-right: 0
            svg
                width: 25px
                height: 25px
                fill: #ffffff
                -webkit-transition: 0.3s all
                -moz-transition: 0.3s all
                -ms-transition: 0.3s all
                -o-transition: 0.3s all
                transition: 0.3s all
                opacity: 0.7
            &:hover
                svg
                    opacity: 1
    .footer__menu
        display: flex
        flex-direction: column
        justify-content: space-between
        nav
            a
                font-size: 22px
                margin: 0 50px 0 0
                &:last-child
                    margin-right: 0
        .footer__btns
            display: flex
            justify-content: center
            align-items: center
            margin-top: 37px
            a.main-btn
                display: inline-flex
                padding: 12px 25px 8px
                font-size: 18px
                &:first-child
                    margin-right: 15px
                &:hover
                    background-color: #ffffff
                    color: #0326b1
    .footer__ps
        display: flex
        justify-content: space-between
        align-items: center
        flex-wrap: wrap
        a
            margin-right: 10px
            margin-bottom: 10px
            svg
                width: 35px
                height: 35px
                fill: #ffffff
                -webkit-transition: 0.3s all
                -moz-transition: 0.3s all
                -ms-transition: 0.3s all
                -o-transition: 0.3s all
                transition: 0.3s all
                opacity: 0.7
            &:hover
                svg
                    opacity: 1
            &:nth-child(6n)
                margin-right: 0
    p.copyright
        font-size: 18px
        color: #ffffff
        text-align: center
        margin-top: 20px

.advantages
    padding: 20px 0 100px
    text-align: center
    .advantages__items
        display: flex
        justify-content: space-between
        margin: 80px 0 45px
        .advantages__item
            background: url('/images/advantages-item-bg.png') no-repeat center
            width: 260px
            height: 330px
            //text-align: center
            svg
                width: 80px
                height: 80px
                fill: #ffffff
                margin: 30px auto
            p
                font-size: 24px
                line-height: 30px
                color: #ffffff
                text-transform: uppercase
                padding: 35px 40px
                svg.currency
                    width: 12px
                    height: 19px
                    fill: #ffffff
                    margin: 0
    a.main-btn
        font-size: 30px
        padding: 15px 80px 9px
        display: inline-flex

.what-is
    background: #2977ea url('/images/fon_about_info.png') no-repeat left top
    padding: 25px 0
    p.title
        width: 470px
        color: #ffffff
    .what-is__items
        display: flex
        flex-direction: column
        .what-is__item
            display: flex
            justify-content: space-between
            margin: 10px 0 55px
            img
                width: 270px
                height: 235px
                margin-right: 35px
            .what-is__item_text
                display: flex
                flex-direction: column
                span.name
                    font-size: 40px
                    color: #ffffff
                    text-transform: uppercase
                    padding-bottom: 5px
                p
                    font-size: 24px
                    line-height: 24px
                    color: #ffffff

.statistics
    min-height: 1230px
    background: url('/images/stat-bg.png') no-repeat 92px 150px
    padding: 25px 0
    .statistics-block
        .statistics-block__upper
            display: flex
            justify-content: space-between
            margin: 60px 0 50px
            .stat-item
                padding: 30px 55px
                text-align: center
                p
                    font-size: 24px
                    line-height: 30px
                    color: #ffffff
                    text-transform: uppercase
                    padding-bottom: 15px
                span
                    font-size: 30px
                    color: #ffffff
                    font-weight: 700
                    svg.currency
                        width: 15px
                        height: 23px
                        fill: #ffffff
        .statistics-block__lower
            display: flex
            justify-content: space-between
            .stat-table
                width: 370px
                padding: 0 30px
                table
                    width: 100%
                    th
                        font-size: 24px
                        line-height: 30px
                        color: #ffffff
                        text-transform: uppercase
                        text-align: center
                        padding-bottom: 18px
                    td
                        font-size: 24px
                        line-height: 30px
                        color: #ffffff
                        padding: 14px 0
                        &:nth-child(2)
                            text-align: right
                        svg.currency
                            width: 12px
                            height: 18px
                            fill: #ffffff

.rules.text
    padding: 40px 0 80px
    p.tac
        text-align: center
        padding: 20px 250px 35px
    ul
        padding-left: 50px
    p,
    ul li
        font-size: 30px
        line-height: 36px
        color: #2977ea
        padding: 10px 0
    p.section-title
        background: url('/images/section-title-bg.png') no-repeat
        padding: 10px 50px
        color: #ffffff
        margin: 30px 0

.map
    iframe
        width: 100%
        height: 845px

.support
    padding: 35px 0 0
    p.title
        padding-top: 0
    .support-text-block
        p
            font-size: 24px
            line-height: 24px
            color: #00c4de
            padding: 14px 0
            b
                font-weight: 700
                line-height: 24px
            i
                font-style: normal
                margin-left: 55px
                display: block
                line-height: 24px
        .social
            display: flex
            align-items: center
            margin-top: 20px
            a
                display: inline-flex
                margin-right: 9px
                &:last-child
                    margin-right: 0
                svg
                    width: 25px
                    height: 25px
                    fill: #09bce3
                    -webkit-transition: 0.3s all
                    -moz-transition: 0.3s all
                    -ms-transition: 0.3s all
                    -o-transition: 0.3s all
                    transition: 0.3s all
                    opacity: 0.7
                &:hover
                    svg
                        opacity: 1
    .certificate-block
        text-align: center
        .img-block
            border: 3px solid #73dfed
            -webkit-border-radius: 3px
            -moz-border-radius: 3px
            border-radius: 3px
            margin-bottom: 45px
            display: block
            margin-bottom: 62px
            img
                max-width: 100%
        a.main-btn
            font-size: 30px
            padding: 16px 60px 11px
            display: inline-flex

.write
    padding: 0 0 75px
    p.title
        padding: 0
    form.support
        padding: 25px 30px
        text-align: center
        .input_block
            display: flex
            flex-direction: column
            padding-bottom: 25px
            label
                font-size: 24px
                color: #2977ea
                padding-bottom: 5px
                margin: 0
                text-align: left
            input,
            textarea
                border: 2px solid #63d2df
                background-color: #ccf7fb
                font-size: 24px
                color: #2977ea
                padding: 20px
            textarea
                height: 160px
        input[type='submit']
            border: 0
            display: inline-flex
            font-size: 30px
            margin-top: 25px
            padding: 18px 75px 10px

.login-body
    background: url('/images/login_fon.png') no-repeat
    -webkit-background-size: cover
    background-size: cover
    header.login
        background-color: rgba(41, 119, 234, 0.9)
        background-image: none
        padding: 20px 0
    .login-block
        .login-block__form
            background-color: rgb(41, 119, 234)
            padding: 30px 135px 50px
            text-align: center
            position: relative
            z-index: 5
            margin: 100px 0 60px
            &:after
                position: absolute
                content: ''
                width: 101%
                height: 100%
                left: 30px
                top: -30px
                background-color: rgba(41, 119, 234, 0.9)
                z-index: -1
            p.login-title
                font-size: 60px
                color: #ffffff
            .input_block
                display: flex
                flex-direction: column
                padding: 27px 0 5px
                label
                    font-size: 24px
                    color: #ffffff
                    padding-bottom: 5px
                    margin: 0
                    text-align: left
                input,
                textarea
                    border: 2px solid #63d2df
                    background-color: #ccf7fb
                    font-size: 24px
                    color: #2977ea
                    padding: 20px
                textarea
                    height: 160px
            .check_block
                display: inline-flex
                align-items: center
                margin: 40px 0 0
                input[type='checkbox']
                    margin: 0 7px 0 0
                    width: 20px
                    height: 20px
                span
                    font-size: 24px
                    color: #ffffff
                    margin-right: 7px
                a
                    font-size: 24px
                    color: #68e8f3
                    &:hover
                        color: #ffffff
            input[type='submit']
                border: 0
                display: inline-flex
                font-size: 30px
                margin-top: 42px
                padding: 18px 75px 10px
                &:hover
                    background-color: #ffffff
                    color: #0326b1
            .login-links
                margin: 15px 0 0
                a
                    color: #ffffff
                    font-size: 24px
                    display: inline-block
                    opacity: 0.7
                    margin: 11px 0
                    &:hover
                        opacity: 1
                    &:last-child
                        margin-bottom: 0

.user
    padding: 0
    .layout-wrapper
        position: relative
        &:after
            position: absolute
            content: ''
            width: 101%
            height: 100%
            left: 20px
            top: -37px
            background-color: rgba(41, 119, 234, 0.9)
            z-index: 0
        .user-menu
            background-color: #ffffff
            position: relative
            z-index: 5
            margin: 65px 0 60px
            .user-img-border
                background: url('/images/user-img-border.png') no-repeat center
                display: flex
                flex-direction: column
                //justify-content: center
                align-items: center
                padding: 36px 0 30px
                svg
                    width: 80px
                    height: 80px
                    margin-top: 5px
                p.username
                    font-size: 24px
                    font-weight: 400
                    color: #0326b1
                    padding-top: 6px
            .user-data
                margin-top: -17px
                p
                    background-color: #18f5d3
                    padding: 13px 18px 8px 18px
                    font-size: 20px
                    font-weight: 400
                    color: #0326b1
                    margin: 7px 0 14px
                    svg
                        width: 8px
                        height: 15px
                        fill: #0326b1
            nav
                flex-direction: column
                align-items: flex-start
                margin: 29px 0
                padding-bottom: 45px
                a
                    background-color: #18f5d3
                    position: relative
                    font-size: 24px
                    font-weight: 400
                    color: #0326b1
                    margin: 10px 0 7px
                    text-transform: uppercase
                    min-width: 195px
                    padding: 10px 20px 5px
                    &:after
                        position: absolute
                        content: ''
                        top: 0
                        left: 100%
                        border: 22px solid transparent
                        border-left: 20px solid #18f5d3
                        width: 20px
                        -webkit-transition: 0.3s all
                        -moz-transition: 0.3s all
                        -ms-transition: 0.3s all
                        -o-transition: 0.3s all
                        transition: 0.3s all
                    &:hover,
                    &.active
                        background-color: #0326b1
                        color: #ffffff
                        min-width: 220px
                        padding-left: 37px
                    &:hover::after,
                    &.active:after
                        border: 22px solid transparent
                        border-left: 20px solid #0326b1

.internal
    background-color: #2977ea
    margin: 65px 0 60px
    padding: 16px 32px 50px
    position: relative
    z-index: 1
    p.page-title
        font-size: 30px
        color: #ffffff
        text-transform: uppercase
        position: relative
        display: inline-flex
        &:after
            position: absolute
            content: ''
            left: 0
            bottom: 0
            width: 100%
            height: 2px
            background-color: #1de6da
    .user-stat__items
        display: flex
        justify-content: space-between
        margin: 22px 0 40px
        .user-stat__item
            background-color: rgba(24, 245, 211, 0.3)
            width: 210px
            height: 190px
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: center
            padding: 20px 0
            svg
                width: 105px
                margin-bottom: 15px
            p.price
                font-size: 28px
                color: #ffffff
                font-weight: 700
                svg.currency
                    width: 12px
                    height: 21px
                    fill: #ffffff
                    margin: 0
            span
                font-size: 20px
                color: #ffffff
                text-transform: uppercase
    .user-ref
        display: flex
        flex-direction: column
        margin: 20px 0
        p
            display: flex
            align-items: center
            margin: 9px 0 9px 5px
            svg
                width: 50px
                height: 50px
                margin-right: 20px
            span
                font-size: 20px
                color: #ffffff
                text-transform: uppercase
                display: inline-flex
                align-items: center
                b
                    font-weight: 700
                    margin-left: 5px
                svg.currency
                    width: 11px
                    height: 15px
                    fill: #ffffff
                    margin: 0
                input
                    background-color: rgba(24, 245, 211, 0.3)
                    font-size: 20px
                    color: #ffffff
                    text-transform: uppercase
                    border: 0
                    margin-left: 15px
                    padding: 8px 40px 4px
    .plan-items
        display: flex
        justify-content: space-between
        padding: 40px 50px 15px
        .plan-item
            background: url('/images/plan-item-bg.png') no-repeat
            -webkit-background-size: contain
            background-size: contain
            text-align: center
            padding: 65px 0 105px
            width: 210px
            &.active
                a.main-btn
                    background-color: #0326b1
                    color: #ffffff !important
            p.name
                font-size: 36px
                color: #0326b1
                text-transform: uppercase
                font-weight: 700
                padding-bottom: 13px
            .plan-item_text-block
                padding: 12px 0 3px
                span
                    font-size: 22px
                    line-height: 30px
                    color: #0326b1
                    display: block
                    svg.currency
                        width: 9px
                        height: 16px
                        fill: #0326b1
            a.main-btn
                font-size: 18px
                padding: 12px 10px 6px
                margin-top: 10px
                display: inline-block
    .user-ps
        display: flex
        justify-content: center
        align-items: center
        padding: 15px 0 30px
        svg
            width: 50px
            height: 50px
            fill: #ffffff
            -webkit-transition: 0.3s all
            -moz-transition: 0.3s all
            -ms-transition: 0.3s all
            -o-transition: 0.3s all
            transition: 0.3s all
            margin-right: 15px
            &:last-child
                margin-right: 0
            &:hover,
            &.active
                fill: #18f5d3
    .invest-block
        display: flex
        align-items: center
        padding: 25px 0
        .custom-input
            background-color: rgba(24, 245, 211, 0.3)
            font-size: 28px
            color: #ffffff
            padding: 6px 25px 2px
            width: 310px
            border: 0
            text-align: center
        input[type='submit']
            font-size: 19px
            color: #0326b1
            text-transform: uppercase
            padding: 10px 25px 8px
            border: 0
            margin-left: 30px
            &:hover
                background-color: #ffffff
                color: #0326b1
    .user-table
        margin: 20px 0
        table
            width: 100%
            text-align: center
            tr
                border: 2px solid #18f5d3
            th,
            td.wide-td
                color: #ffffff
                font-size: 20px
                background-color: #249de3
                text-align: center
                font-weight: 400
                padding: 10px 0
                svg.currency
                    width: 15px
                    height: 15px
                    fill: #ffffff
            td
                color: #ffffff
                font-size: 20px
                text-align: center
                font-weight: 400
                padding: 10px 0 0
                svg
                    height: 35px
                    width: 100px
                    fill: #ffffff
    .banners
        margin: 20px 0
        label
            font-size: 28px
            color: #ffffff
            margin: 0
            font-weight: 400
            display: block
        textarea
            background-color: rgba(24, 245, 211, 0.3)
            font-size: 20px
            color: #ffffff
            border: 2px solid #18f5d3
            padding: 15px 20px
            width: 100%
    .settings
        display: flex
        justify-content: space-between
        form
            display: flex
            flex-direction: column
            width: 48%
            p.page-title
                margin-bottom: 8px
                align-self: flex-start
            .input-block
                display: flex
                flex-direction: column
                padding: 8px 0 0
                label
                    margin: 0
                    svg
                        width: 100px
                        height: 30px
                        fill: #ffffff
                    span
                        font-size: 20px
                        color: #ffffff
                        font-weight: 400
                        padding: 7px 0 4px
                        display: block
                input
                    background-color: rgba(24, 245, 211, 0.3)
                    font-size: 18px
                    color: #ffffff
                    border: 2px solid #18f5d3
                    padding: 6px 10px
                    width: 100%
            .main-btn
                margin-top: 30px
                border: 0
                align-self: flex-start
                padding: 13px 51px 7px
                &:hover
                    background-color: #ffffff
                    color: #0326b1
